<div class="uk-container">
  <h1>Finesse</h1>
  <p>Save your favorite sale items.</p>
  <hr>

  <h2 class = "uk-animation-slide">Sale Items!</h2>

  <div class = "sale-items" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200">
    {{#each item}}
    {{> item/item-block}}
    {{/each}}
  </div>

</div>