<div id="login-page" class = "uk-animation-fade">
    <h1 class="title auth-title">Finesse</h1>
    <h4 style="color: white">Welcome Back</h4>
    <div class="auth-buttons login-buttons">
        <form class="uk-form" action="" id="login-form">
            <b><label class="uk-form-label" for="userEmail">Email : </label></b>
            <input class="uk-input" name='userEmail' type="text" required>
            <b><label class="uk-form-label" for="userPassword">Password: </label></b>
            <input class="uk-input" name='userPassword' type="password" required>
        </form>
        <a href="/home" class="uk-button login-submit">Login</a>
    </div>
</div>