<div id="splash" >
    {{!-- uk-scrollspy="target: > *; cls:uk-animation-fade; delay: 200" --}}
    <h1 id="title" class="title">Finesse</h1>
    <p id="subtitle">Artful Shopping.</p>
    <div class="auth-buttons">
        <a href="/login" class="uk-button login-button">Log In</a>
        <a href="/signup" class="uk-button signup-button">Sign Up</a>
    </div>

    <a class="uk-position-bottom" href="#modal-full" id="about" uk-toggle="target: #modal-full">About</a>

    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover" style="background-image: url('assets/images/preview.gif');" uk-height-viewport>
                </div>
                <div class="uk-padding-large">
                    <h1>Finesse</h1>
                    <h3>Artful Shopping</h3>
                    <p>Trendy frugality. Stylish effiency. Collect your favorite sale items from all of your top brands in one dedicated platform. Store your collections and finesse your way into a new and diversified wardrobe!</p>
                </div>
            </div>
        </div>
    </div>
</div>