<div id="splash" uk-scrollspy="target: > *; cls:uk-animation-fade; delay: 200">
    <h1 id="title">Finesse</h1>
    <p>Save your favorite sale items.</p>
    <div id="auth-buttons">
        <a href = "/home" class="uk-button login-button">Log In</a>
        <a href = "/signup" class="uk-button signup-button">Sign Up</a>
    </div>
</div>