<div id="splash" uk-scrollspy="target: > *; cls:uk-animation-fade; delay: 200">
    <h1 id="title" class="title">Finesse</h1>
    <p>Collect your favorite sale items.</p>
    <div class="auth-buttons">
        <a href="/login" class="uk-button login-button">Log In</a>
        <a href="/signup" class="uk-button signup-button">Sign Up</a>
    </div>

    <a class="uk-position-bottom" href="#modal-full" id="about" uk-toggle="target: #modal-full">About</a>

    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover" style="background-image: url('assets/images/preview.gif');" uk-height-viewport>
                </div>
                <div class="uk-padding-large">
                    <h1>Finesse</h1>
                    <h3>Artful Shopping</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>