#main{
    min-height: 85vh;
}

body, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 86px;
}

h2{
    font-family: 'Playfair Display', serif;
}

.sale-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
}

.product{
    margin: 10px 20px 10px 20px;
    width: 25%;
    border-top: 4px solid #5DD39E;
}

#notes {
    width: 18%;
  }

a:hover{
    text-decoration: underline #5DD39E;
}

.item-link, img{
    margin-top: 5px;
    transition: 0.2s ease-in-out;
}

.item-link:hover{
    padding-left: 5px;
    letter-spacing: 1px;
}

.uk-button-text{
    font-size: 18px;
}

.save-note{
    transition: 0.2s ease-in-out;
    border-radius: 20px;
}

.save-note:hover{
    background-color: #5DD39E;
    color: white;
}

.save-note:active{
    background-color: rgb(56, 155, 110);
    letter-spacing: 1px;
}

.note-confirm{
    transition: 0.3s ease-in-out
}

.note-confirm:hover{
    background-color: #5DD39E;
    color: white;
}

.note-confirm:active{
    background-color: rgb(56, 155, 110);
    letter-spacing: 1px;
}

img:hover{
    border-left: 2px solid #5DD39E;
    border-radius: 5px;
}

footer{
    position: relative;
    height: 15vh;
    width: 100%;
    margin-top: 20px;
    background-image: linear-gradient(#364137, #333333);
    color: rgb(218, 222, 250);
}


#github{
    color: rgb(122, 132, 209);
    transition: 0.3 ease-in-out;
}

.fa-github{
    transition: 0.3 ease-in-out;
}

#github:hover{
    color: #5DD39E;
}

#github:active{
    color: rgb(59, 172, 121);
}

/* Sign Up */

#signup-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    background-color: #5DD39E;
}

#signup-right{
    display: flex;
    width: 50vw;
}

#signup-title{
    color: white;
    text-shadow: 0px 0px 5px rgb(56, 155, 110);
}

/* Splash */

#splash{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#auth-buttons{
    display: flex;
    flex-direction: column;
}

.signup-button{
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #5DD39E;
    color: white;
    text-decoration: none;

    box-shadow: 0px 2px 2px rgb(56, 155, 110, 0.2);

}


.signup-button:hover{
    /* box-shadow: 0px 2px 3px rgb(56, 155, 110, 0.5); */
    box-shadow: 0px 2px 3px rgb(21, 58, 41, 0.5);
    color: white;
}

.signup-button:active{
    background-color: rgb(56, 155, 110);
    /* letter-spacing: 1px; */
}

.login-button{
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px rgb(21, 58, 41, 0.2);
    text-decoration: none;
    border: 1px solid #5DD39E;
    /* background-color: #5DD39E;
    color: white; */
}



.login-button:hover{
    box-shadow: 0px 2px 3px rgb(21, 58, 41, 0.5);
    color: black;
}

.login-button:active{
    background-color: transparent;
    /* letter-spacing: 1px; */
}
