body, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 86px;
}

h2{
    font-family: 'Playfair Display', serif;
}

.sale-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
}

.product{
    margin: 10px 20px 10px 20px;
    width: 25%;
    border-top: 4px solid #5DD39E;
}

#notes {
    width: 18%;
  }

a:hover{
    text-decoration: underline #5DD39E;
}

.item-link, img{
    margin-top: 5px;
    transition: 0.2s ease-in-out;
}

.item-link:hover{
    padding-left: 5px;
    letter-spacing: 1px;
}

.uk-button-text{
    font-size: 18px;
}
img:hover{
    border-left: 2px solid #5DD39E;
    border-radius: 5px;
}